{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            grid-gap: 2em;
            margin: 0 auto;
            width: 75%;
        }

        .rankingPlayers,
        .rankingTeam {
            width: 100%;
        }

        table {
            width: 100%;
        }

        h1 {
            color: #633bde;
            background: whitesmoke;
        }

        h2 {
            text-align: center;
            margin: 0 auto 0.5em;
            background: #633bde;
            width: fit-content;
        }

        h1::before,
        h1::after,
        h2::before,
        h2::after {
            content: "";
            padding: 0.2em 1em;
        }

        table tr th,
        table tr td {
            border-radius: 2px;
            padding: 0.5em;
            text-align: center;
        }

        table tr th {
            background: whitesmoke;
            color: #3f2098;
        }

        table tr td {
            background: #3f2098;
        }

        .btn-actions {
            position: fixed;
            top: 1em;
            right: 1em;
            display: flex;
            flex-direction: column;
            grid-gap: 0.5em;
        }

        .btn-actions a {
            padding: 0.5em;
            text-decoration: none;
        }

        .btn-actions a:nth-child(even) {
            background: linear-gradient(45deg, #3f2098, #a386f6);
            padding: 0.5em;
            text-decoration: none;
        }

        .btn-actions a:nth-child(odd) {
            background: linear-gradient(45deg, #a386f6, #3f2098);
        }

    </style>
{% endblock %}

{% block body %}
    <h1>{{ game.name }}</h1>

    <div class="rankingPlayers">
        <table>
            <thead>
            <tr>
                <h2>Ranking players</h2>
            </tr>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Points 🔱</th>
                <th>Kills ❤️</th>
                <th>Deaths 💔</th>
                <th>Assists ❤️‍🩹</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="rank-value">{{ loop.index }}</td>
                    <td class="player-name">{{ player.name }}</td>
                    <td>{{ player.totalPoints }}</td>
                    <td>{{ player.kills }}</td>
                    <td>{{ player.deaths }}</td>
                    <td>{{ player.assists }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="rankingTeam">
        <table>
            <thead>
            <tr>
                <h2>Ranking teams</h2>
            </tr>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Points 🔱</th>
                <th>Kills ❤️</th>
                <th>Deaths 💔</th>
                <th>Assists ❤️‍🩹</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.totalPoints }}</td>
                    <td>{{ team.kills }}</td>
                    <td>{{ team.deaths }}</td>
                    <td>{{ team.assists }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-actions">
        <a href="{{ path('homepage') }}">Back to the hood</a>
        <a href="{{ path('ematches', {'game_id': game.id}) }}">See ematches</a>
        <a href="{{ path('teams', {'game_id': game.id}) }}">See teams</a>
    </div>

{#    <a href="{{ path('app_game_index') }}">back to list</a>#}

{#    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>#}

{#    {{ include('game/_delete_form.html.twig') }}#}
{% endblock %}
